<% if @pay_term.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@pay_term.errors.count, "error") %> prevented this Pay Term from being created or updated:</h4>
    <ul>
      <% @pay_term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row form_row">
  <%= f.label :title, "Pay Term Title",class: "col-sm-2 control-label" %>
  <div class="col-sm-8">
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>
<div class="row form_row">
  <%= f.label :term, "Terms",class: "col-sm-2 control-label" %>
  <div class="col-sm-8">
    <%= f.text_area :terms, class: "form-control  tinymce", size: '60x15' %>
    <%= tinymce %>
  </div>
</div>
<div class="row form_row">
  <%= f.label :e_type, "Type", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select(:e_type, PayTerm.e_types,{ :include_blank => true}) %>
  </div>
</div>
<div class="row form_row">
  <%= f.label :is_active, 'Active?', class: "col-sm-2 control-label" %>
  <div class="col-sm-8">
    <%= f.radio_button(:is_active, true) %>
    <%= f.label(:active_yes, 'Active') %>
    <%= f.radio_button(:is_active, false) %>
    <%= f.label(:active_no, 'Inactive') %>
  </div>
</div>
<div class="row form_row">
  <div class="col-sm-offset-2 col-sm-8">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>