 <div class = "container admin_container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= button_to 'New Terms', event_terms_new_path, method: :get, class: 'button_blue' %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
      <div class=" col-md-8 image_panel">
        <div class="panel panel-palette_2">
          <div class="panel-heading">
            <h4><%= pluralize(@pay_terms.size, ' Pay Term')%></h4>
          </div>
          <div class="panel-body, table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <%= content_tag_for(:tr, @pay_terms) do |pay_term| %>
                  <td>
                    <%= pay_term.active? ? 'Active' : 'Inactive'%>&nbsp;-&nbsp;<%= pay_term.title%>
                  </td>
                  <td>
                    <%= pay_term.e_type %>
                  </td>
                  <% if !pay_term.active?%>
                    <td>
                      <%= link_to 'Destroy', event_terms_destroy_path(pay_term), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  <% end %>
                  <td>
                    <%= link_to 'Edit', event_terms_edit_path(pay_term) %>
                  </td>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>