
  <div class = "container admin_container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= button_to 'New Event', prep_event_new_path, method: :get, class: 'button_blue' %>
      </div>
      <div class="col-md-2"></div>
    </div>
    <% @venues.each do |venue| %>
        <div class="row">
        <div class="col-md-2"></div>
          <div class=" col-md-8 image_panel">
            <div class="panel panel-palette_2">
              <div class="panel-heading">
                <h4><%= pluralize(venue.events.size, venue.name + ' Precision Prep')%></h4>
              </div>
              <div class="panel-body, table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <tbody>
                  <%= content_tag_for(:tr, venue.events.by_date) do |event| %>
                      <td>
                        <%= !event.start_date.nil? ? event.start_date.strftime('%b %d, %Y') : '-'%>&nbsp;-&nbsp;
                        <%= !event.end_date.nil? ? event.end_date.strftime('%b %d, %Y') : '-'%>
                      </td>
                      <td>
                        <%= event.time %>,&nbsp;<%= event.location %>
                      </td>
                      <td>
                        <%= humanized_money_with_symbol(event.price) %>
                      </td>
                      <td>
                        <%= event.capacity %>
                      </td>
                      <td>
                        <% if !event.active?%>
                         <%= link_to 'Destroy', prep_event_destroy_path(event), method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% else %>
                          Active
                        <% end %>
                      </td>
                      <td>
                        <%= link_to 'Edit', prep_event_edit_path(event) %>
                      </td>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
    <% end %>
  </div>

