<div class="container">
    <%= form_for(:event_email, :url=> event_email_path) do |f|  %>
      <%= hidden_field_tag(:event_id, event.id) %>
      <div class="row contact_line">
        <%= !event.start_date.nil? ? event.start_date.strftime("%m/%d/%Y") : ''%>&nbsp;-&nbsp;
        <%= !event.end_date.nil? ? event.end_date.strftime("%m/%d/%Y") : ''%>
      </div>
      <div class="row contact_line">
        <%= event.venue.name %>
      </div>
      <div class="row contact_line">
        <%= pluralize(event.valid_confirmed_reservations.size, ' Enrollee') %>
      </div>
      <div class="row contact_line">
          Subject:&nbsp;
            <%= f.text_field :subject, size: 50 %>
      </div>
      <div class="row contact_line">
        <div class="col-md-6">
          Message:&nbsp;
          <span class="panel-body">
            <%= f.text_area :message, class: "form-control  tinymce" %>
            <%= tinymce %>
          </span>
        </div>
      </div>
      <div class="row contact_line">
        <%= f.submit 'Send Message' %>
      </div>

<% end -%>
</div>
