<!-- Modal -->
<div class="modal fade" id='statModal<%=offering.id%>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title panel modal-stat-panel" id="myModalLabel"><%= offering.name %>&nbsp;Summary Statistics</h4>
      </div>
      <div class="modal-body modal-stat-name">
        Our platform supports a <strong><em>Network of Schools</em></strong> using an integrated toolkit to help them work better and collaborate.
        <div class="modal-stat-descript">
          As Of <%= Date.today.strftime('%b %d, %Y')%>
        </div>
        <div class="modal-stat-table">
          <% offering.stats.active.by_position.each do |stat| %>
            <strong><%=stat.stat %></strong>&nbsp;<%=stat.name %><br/>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

