<h4><%= t('site_name') %>&nbsp;Contact Us Notice</h4>

<h5>Name:&nbsp;<%=@name%></h5>

<h5>Email:&nbsp;<%=@email%></h5>

<h5>Workplace:&nbsp;<%= @workplace == '' ? 'Not Identified' : @workplace %></h5>

<%=@message%>
