<!-- locals: { offering: @local_var, parent: @local_var2 } -->

<div id="status" class="col-sm-4" style="border: 2px solid <%= offering.ancestor.panel_color%>;" >
  <% if offering.visible? %>
    <div class="status_box" style="background-color:<%= offering.ancestor.panel_color%>">Active</div>
  <% else %>
      <div class="status_box" style="background-color:<%= offering.ancestor.panel_color%>">In-Active</div>
  <% end %>
  <p></p>
    <p>Offering Position: <%= offering.display_position %></p>
    <% if offering.parent_id.nil? %>
      <p>Parent offering</p>
    <% else %>
      <p>Sub-offering of: <strong><%= offering.parent.name %></strong></p>
    <% end %>


  <p>Expiration: <%= offering.expire_date.nil? ? "Never" : offering.expire_date.strftime('%m/%d/%Y') %> </p>

  <p><%= pluralize(offering.user_povs.size, 'POV') %></p>
  <p><%= pluralize(offering.offering_images.size, 'Image') %></p>
  <p><%= pluralize(offering.contents.size, 'Content') %></p>
  <p><%= pluralize(offering.stats.size, 'Stat') %></p>
</div>
