<!-- locals: { offering: @local_var, parent: @local_var2 } -->

<div id="status" class="col-sm-4">
  <% if offering.visible? %>
    <h4>Visible</h4>
  <% else %>
    <h4><em>Hidden</em></h4>
  <% end %>

    <p>Offering Position: <%= offering.display_position %></p>
    <% if offering.parent_id.nil? %>
      <p>Parent offering</p>
    <% else %>
      <p>Sub-offering of: <strong><%= offering.parent.name %></strong></p>
    <% end %>

  <p><%= pluralize(offering.user_povs.size, 'POV') %></p>
  <p><%= pluralize(offering.offering_images.size, 'Image') %></p>
  <p><%= pluralize(offering.contents.size, 'Content') %></p>
</div>
