<h1 id="title_row">Edit Offering</h1>

<%= render 'form' %>

<%= render partial: 'pov_associations', locals: { offering: @offering, povs: @offering.user_povs}%>
<%= render partial: 'pov_associations', locals: { offering: @offering, povs: @offering.available_povs}%>

<div class="row col-md-offset-2">
  <%= button_to 'Delete Offering', admin_offering_path, class: 'btn btn-danger', method: :delete,
    data: {confirm: 'Are you sure? This action cannot be undone'} %>
</div>

<div class="row col-md-offset-2" id="edit-back-button">
  <a class="btn btn-default" href="<%= admin_offerings_path %>">Back</a>
</div>
