<div id="title_row" class="row">
  <h1>Manage Offerings</h1>
  <a class="btn btn-success" href="<%= new_admin_offering_path %>">
    <i class="glyphicon glyphicon-plus-sign"></i>
    New Offering
  </a>
</div>

<% @offerings.each do |offering| %>
  <div class="row col-md-12">
    <div class="panel panel-palette_5">

      <div class="panel-heading" role="tab" id="heading<%= offering.id %>">
        <h4><i class="fa fa-wrench"></i><%= offering.name %></h4>
        <a class="btn btn-default" href="<%= edit_admin_offering_path(offering) %>">Edit</a>
      </div>

      <div class="panel-body">
        <p id="brief"><em><%= offering.brief %></em></p>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse<%= offering.id %>"
                aria-expanded="false" aria-controls="collapse<%= offering.id %>">
          more...
        </button>
      </div>

      <div id="collapse<%= offering.id %>" class="panel-collapse collapse" role="tabpanel"
           aria-labelledby="heading<%= offering.id %>">
        <p><%= offering.description %></p>

        <% if offering.position.nil? %>
          <h4>Position not selected (nil)</h4>
        <% else %>
          <h4>Offering Position: <%= offering.position %></h4>
        <% end %>
        <% if offering.visible? %>
          <h4>Published to index page</h4>
        <% else %>
          <h4>Not shown on Index page.</h4>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
