<div class="container">
    <div class="row col-md-12">
      <div class="panel panel-palette_5">

        <div class="panel-heading" role="tab" id="heading<%= @offering.id %>" style="background-color:<%= offering_palette(@offering)%>">
          <h4><i class="fa fa-wrench"></i><%= @offering.type_name %>:&nbsp;<%= @offering.name %></h4>
          <a class="btn btn-default" href="<%= edit_admin_offering_path(@offering) %>">Edit</a>
        </div>

        <div class="panel-body">
          <h4>Brief:</h4>
          <p id="brief"><%= @offering.brief.html_safe %></p>
          <h4>Description:</h4>
          <!-- so .html_safe might not be the best thing to use here, but since all this content
          is admin-generated, then it is likely not susceptible to malicious script insertion XSS attacks. -->
          <p><%= @offering.description.html_safe %></p>

          <%= render partial: 'status', locals: { offering: @offering } %>

        </div>
      </div>

      <div class="row col-md-2" id="back-button">
        <a class="btn btn-default" href="<%= admin_offerings_path %>">Back</a>
      </div>
    </div>
</div>

