
<%= form_tag(payments_path, class: "credit-card-form form-horizontal", id: "payment-form") do  %>
  <%= hidden_field_tag(:price_cents, price_cents) %>
  <%= hidden_field_tag(:buyable_id, item.id) %>
  <%= hidden_field_tag(:buyable_type, item.class.to_s) %>
  <div class="pay_cc_box">
    <div class="row pay_cc_label">
      <div class="form-group">
        <div class="col-sm-2">
          <%= label_tag(:credit_card_amount, "Amount", class: "control-label")%>
        </div>
        <div class="col-sm-3 pay_cc_amount">
          <%= humanized_money_with_symbol(price_cents) %>
          <% if !@pay_term.nil? %>
            &nbsp;&nbsp;
              <%= link_to 'View Terms', "#termsModal", "data-toggle" => "modal", class: "pay_cc_terms" %>
            <%= render partial: 'session/terms_modal', locals: {terms: @pay_term, event: @buyable.event} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row pay_cc_label">
      <div class="form-group">
        <div class="col-sm-2">
          <%= label_tag(:credit_card_number, "Credit Card Number", class: "control-label")%>
        </div>
        <div class="col-sm-3">
          <input class='form-control valid-field' placeholder='Credit Card #' data-stripe="number" id='credit_card_number' >
        </div>
      </div>
    </div>
    <div class="row pay_cc_label">
      <div class="form-group">
        <div class="col-sm-2">
          <%= label_tag :expiration_date, "Expiration Date", class: "control-label"%>
        </div>
        <div class="col-sm-3">
          <input class='form-control valid-field' placeholder='MM / YY' data-stripe="exp" id='expiration_date' >
        </div>
      </div>
    </div>
    <div class="row pay_cc_label">
      <div class="form-group">
        <div class="col-sm-2">
          <%= label_tag :cvc, "CVC", class: "control-label" %>
        </div>
        <div class="col-sm-1">
          <input class='form-control valid-field' placeholder='###' data-stripe="cvc" id='cvc' >
        </div>
      </div>
    </div>
    <% if !@pay_term.nil? %>
      <div class="row pay_cc_label">
        <div class="form-group">
          <div class="col-sm-2">
            <%= label_tag :accept_terms, "Agree To Terms", class: "control-label"%>
          </div>
          <div class="col-sm-3">
            <div class="checkbox">
              <input class='form-control accept-field' type='checkbox' id='terms'></input>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row pay_cc_label">
      <div class="form-group">
        <div class="col-sm-3">
          <%= submit_tag "Purchase", class: "button_blue", id: 'purchase' %>
        </div>
      </div>
    </div>
  </div>
<% end %>