
<div class="pay_cc_box">
  <div class="row">
    <h3><%=@buyer %> Checkout</h3>
  </div>
  <div class="row item">
    <%= @item%>
  </div>
  <div class="row item">
    <%= @start_date.strftime('%b %d, %Y')%> - <%= @end_date.strftime('%b %d, %Y')%>
  </div>
  <div class="row item">
    <%= @time_frame %>
  </div>
  <div class="row item">
      <%= @venue%>
  </div>
</div>
<hr>
<%= render partial: 'credit_card_info', locals: {price_cents: @price, item: @buyable} %>