<div class="panel-body">
  <div class="grant_join_list">
    <%= overview.nil? ? '' : overview.children_by_position.active.collect{|t| t.name}.join(' - ') %>
  </div>
    <div class="index-panel-size-2">
      <span class = "grant_header">
        <%= overview.nil? ? '' : overview.brief.html_safe %>&nbsp;
        <span class = "grant_contact" ><%= link_to 'Contact Us', contact_logs_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#contactModal'} %></span>
      </span>
      <% if !overview.images.empty? %>
          <% grp = 'p' %>
          <div class="about_blue_font image_list">
            <% overview.images.each_with_index do |image, idx| %>
                <%= link_to "View #{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %>
                <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
            <% end %>
          </div>
      <% end %>
      <% if !overview.user_povs.empty?%>
          <div class="about_blue_font pov_list">
            <% overview.user_povs.each do |pov| %>
                <u><a href= <%= pov.url %> target="_blank"> <%= 'Read ' + pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
            <% end %>
          </div>
      <% end %>
      <% overview.children_by_position.active.each do |grant| %>
          <hr>
          <p class= 'grant_descript' >
              <% if grant.active_contents.first && grant.active_contents.first.exist? %>
                <% if grant.active_contents.first.type == "Link" %>
                    <a href= <%= grant.active_contents.first.content_url %> target="_blank"><u><%= grant.name == '' ? grant.active_contents.first.title : grant.name %></u></a>
                <% else %>
                    <a href= <%= grant.active_contents.first.url %> target="_blank"><u><%= grant.name == '' ? grant.active_contents.first.title : grant.name %></u></a>
                <% end %>
                &nbsp;
              <% else %>
                <span class="grant_name">
                  <%= grant.name == '' ? '' : (grant.name.html_safe + ' ') %>
                </span>
              <% end %>
              <%= grant.brief.html_safe %>
          </p>
          <% if !grant.images.empty? %>
              <% grp = 'c1' %>
              <div class="about_blue_font image_list">
                <% grant.images.each_with_index do |image, idx| %>
                    <%= link_to "View #{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %>
                    <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
                <% end %>
              </div>
          <% end %>
          <% if !grant.user_povs.empty?%>
              <div class="about_blue_font pov_list">
                <% grant.user_povs.each do |pov| %>
                    <u><a href= <%= pov.url %> target="_blank"> <%= 'Read ' + pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
                <% end %>
              </div>
          <% end %>
      <% end -%>
    </div>
</div>

