
<div class="row mission_row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="mission_block">
          <div style=" border: 2px <%= active_offering.panel_color%>; border-style: solid; border-radius: 5px;">
            <table >
              <tbody>
              <tr>
                <td class="mission_label_2" style="vertical-align:top; padding-top:1em; padding-bottom:0em;">
                  Our Mission
                </td>
                <td class="mission_statement_2" style="vertical-align:top; padding-top:1em; padding-bottom:0em;">
                  <%= current_mission ? current_mission.brief.html_safe : '' %>
                </td>
              </tr>
              <tr style="color:<%= active_offering.panel_color%>">
                <td class="mission_label_2" style="vertical-align:top; padding-top:1em; padding-bottom:1em;">
                  <%= active_offering.vision_label.html_safe %>
                </td>
                <td class="vision_statement" style="padding-left:3em; padding-right:3em; vertical-align:top; padding-top:1em; padding-bottom:1.5em; ">
                  <%= active_offering.vision.html_safe %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
</div>

