
<div class="mission_row">
  <div class="mission_header">
    <%= current_mission && !current_mission.description.empty? ? current_mission.description.html_safe : '' %>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="mission_block" style=" border-color:<%= active_offering.panel_color%>; border-style: dashed;">
            <table>
              <tbody>
              <tr>
                <td class="mission_label_2">
                  Our Mission
                </td>
                <td class="mission_statement_2" >
                  <%= current_mission ? current_mission.brief.html_safe : '' %>
                </td>
              </tr>
                <% if !active_offering.vision.empty? %>
                  <tr style="color:<%= active_offering.panel_color%>">
                    <td class="vision_label">
                      <%= active_offering.vision_label.html_safe %>
                    </td>
                    <td class="vision_statement" >
                      <%= active_offering.vision.html_safe %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
<hr>

