<div class="panel-palette">
  <div class="panel-heading"  style="background-color: <%=overview.panel_color%>">
    <h4><%= overview.panel_header %></h4>
  </div>
  <div class="panel-body">
    <div class="welcome-panel">
      <% hr_break = false %>
      <% if false %>
        <div class="offering_join_list">
          <%= overview.nil? ? '' : overview.children_by_position.active.collect{|t| t.name}.join(' - ') %>
        </div>
      <% end %>
      <% if !overview.nil?  && !overview.brief.strip.empty? %>
        <span class = "offering_header">
          <%=  overview.brief.html_safe %>
          <% hr_break = true %>
        </span>
      <% end %>
      <% if !overview.images.not_carousels.empty? && false %>
          <% grp = 'p' %>
          <div class="about_blue_font image_list">
            <% overview.images.not_carousels.each_with_index do |image, idx| %>
                View:&nbsp;<u><%= link_to "#{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %></u>
                <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
            <% end %>
          </div>
          <% hr_break = true %>
      <% end %>
      <% if !overview.user_povs.empty?%>
          <div class="about_blue_font pov_list">
            <% overview.user_povs.each do |pov| %>
                Read:&nbsp;<u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
            <% end %>
          </div>
          <% hr_break = true %>
      <% end %>
      <% if hr_break %> <hr> <% end %>
      <% overview.children_by_position.active.each do |offering| %>
          <p>
            <span class="offering_name"><%= offering.name.html_safe %></span>
            <span class="offering_descript">
              <%= offering.description.html_safe %>
            </span>
          </p>
          <% if !offering.active_contents.empty? %>
              <div class="image_list">
            <% offering.active_contents.each do |content| %>
              <% if content.exist? %>
                  <% if content.type == "Link" %>
                      View:&nbsp;&nbsp;<a href= <%= content.content_url %> target="_blank"><u><%= content.title.html_safe%></u></a>
                  <% else %>
                            View:&nbsp;&nbsp;<a href= <%= content.attached_report %> target="_blank"><u><%= content.title.html_safe%></u></a>
                  <% end %>
                  <br/>
              <% end %>
            <% end %>
              </div>
          <% end %>
          <% if !offering.images.not_carousels.empty? %>
              <% grp = 'c1' %>
              <div class="about_blue_font image_list">
                <% offering.images.not_carousels.each_with_index do |image, idx| %>
                    View:&nbsp;<u><%= link_to image.name.html_safe, "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %></u><br/>
                    <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image } %>
                <% end %>
              </div>
          <% end %>
          <% if !offering.user_povs.empty?%>
              <div class="about_blue_font pov_list">
                <% offering.user_povs.each do |pov| %>
                    Read:&nbsp;<u><a href= <%= pov.url %> target="_blank"> <%= pov.name.html_safe %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
                <% end %>
              </div>
          <% end %>
          <hr>
      <% end -%>
    </div>
  </div>
</div>