<div class="panel-body">
  <div class="offering_join_list">
    <%= overview.nil? ? '' : overview.children_by_position.active.collect{|t| t.name}.join(' - ') %>
  </div>
  <div class="index-panel-size-2">
    <span class = "offering_header">
        <%= overview.nil? ? '' : overview.brief.html_safe %>
    </span>
    <% unless true %>
        <!-- Can't figure out how to display an image in a modal yet -->
        <div class="about_blue_font tool_pov_list">
          <% overview.images.each do |images| %>
              <u><%= link_to 'View', image_show_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#imageModal'} %></u></br>
          <% end %>
        </div>
    <% end %>
    <% if !overview.user_povs.empty?%>
        <div class="about_blue_font tool_pov_list">
          <% overview.user_povs.each do |pov| %>
              <u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
          <% end %>
        </div>
    <% end %>
    <% overview.children_by_position.active.each do |offering| %>
        <hr>
        <p class= "offering_descript" >
          <span class="offering_name"><%= offering.name.html_safe %></span>&nbsp;
          <% if offering.active_contents.first && offering.active_contents.first.exist? %>
              <span class="offering_link">
                <% if offering.active_contents.first.type == "Link" %>
                    <a href= <%= offering.active_contents.first.content_url %> target="_blank">(<u>View <%= offering.active_contents.first.type %> </u>)</a>
                <% else %>
                    <a href= <%= offering.active_contents.first.url %> target="_blank">(<u>View <%= offering.active_contents.first.type %> </u>)</a>
                <% end %>
              </span>&nbsp;
          <% end %>
          <span class="offering_descript">
            <%= offering.description.html_safe %>
          </span>
        </p>
    <% end -%>
  </div>
</div>

