<div class="panel-palette">
  <div class="precision_panel"  style="background-color: <%=overview.panel_color%>">
    <%= overview.panel_header %>
  </div>
  <div class="panel-body">
    <div class="welcome-panel">
      <% hr_break = false %>
      <% if !overview.nil?  && !overview.brief.strip.empty? %>
        <span class = "offering_header">
          <%=  overview.brief.html_safe %>
          <% hr_break = true %>
        </span>
      <% end %>
      <% overview.children_by_position.active.each.each do |partner| %>
        <div class="row partner_table">
          <table >
            <tbody>
              <colgroup>
                <col style="width:23%">
                <col style="width:67%">
                <col style="width:10%">
              </colgroup>
              <tr>
                <td class= "partner_image logo-large" style="border-top: 0px;">
                  <% if (!partner.active_images.not_carousels.empty? ) %>
                      <%= image_tag (partner.active_images.not_carousels.first.pic) %>
                  <% else %>
                      -
                  <% end %>
                </td>
                <td class="partner_descript" >
                  <%= partner.brief.html_safe %>
                  <% if !partner.testimonies.active.empty? %>
                      <% grp = 'prt' %>
                      <div class="about_blue_font image_list">
                        <% partner.testimonies.active.each_with_index do |tst, idx| %>
                            <%=tst.tst_view_label%>&nbsp;<u><%= link_to tst.brief, "#imageModal#{grp}#{idx}#{tst.id}", "data-toggle" => "modal" %></u><br/>
                            <%= render partial: 'session/testimony_show_modal', locals: {grp: grp, idx: idx, testimony: tst } %>
                        <% end %>
                      </div>
                  <% end %>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
       </div>
      <% end %>
    </div>
  </div>
</div>

