<div class="panel-palette">
  <div class="precision_panel"  style="background-color: <%=overview.panel_color%>">
      <%= overview.panel_header %>
  </div>
  <div class="panel-body">
    <div class="welcome-panel">
      <% hr_break = false %>
      <div>
        <div class = "offering_header">
          <div class="row">
            <% if !overview.nil? %>
              <% if pending_preps.empty? && next_webinar.nil? %>
                <div class= "col-md-12" >
                  <% if !overview.brief.strip.empty?%>
                    <%= overview.brief.html_safe %>
                    <%= render partial: 'collapse_description', locals: {overview: overview} %>
                  <% else %>
                    <p><%= overview.description.html_safe %></p>
                  <% end %>
                </div>
              <% else%>
                <div class= "col-md-10" >
                  <% if !overview.brief.strip.empty?%>
                    <%= overview.brief.html_safe %>
                    <%= render partial: 'collapse_description', locals: {overview: overview} %>
                  <% else %>
                      <p><%= overview.description.html_safe %></p>
                  <% end %>
                </div>
                <div class="col-md-2">
                  <%= render 'prep_enroll_buttons'%>
                </div>
              <% end %>
              <% hr_break = true %>
            <% end %>
          </div>
        </div>
        <% if !overview.images.not_carousels.empty? && false%>
            <% grp = 'p' %>
            <div class="about_blue_font image_list">
              <% overview.images.not_carousels.each_with_index do |image, idx| %>
                  View:&nbsp;<u><%= link_to "#{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %></u>
                  <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
              <% end %>
            </div>
            <% hr_break = true %>
        <% end %>
        <% if !overview.images.not_carousels.empty?%>
          <% overview.images.not_carousels.each_with_index do |image, idx| %>
            <div class = "offering_images">
              <%= render partial: 'collapse_image', locals: {image: image, idx: idx} %>
            </div>
          <% end %>
          <% hr_break = true %>
        <% end %>
        <% if !overview.user_povs.empty?%>
          <div class="pov_list">
            <% overview.user_povs.each do |pov| %>
                Read:&nbsp;<u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
            <% end %>
          </div>
          <% hr_break = true %>
        <% end %>
        <% if !overview.active_contents.empty? %>
            <div class="offering_images">
              <% overview.active_contents.each do |content| %>
                  <% if content.exist? %>
                      View:&nbsp;&nbsp;
                      <span class="view_more">
                        <% if content.type.upcase == "LINK" %>
                          <a href= <%= content.content_url %> target="_blank"><u><%= content.title.html_safe%></u></a>
                        <% else %>
                          <a href= <%= content.attached_report %> target="_blank"><u><%= content.title.html_safe%></u></a>
                        <% end %>
                      </span>
                      <br/>
                  <% end %>
              <% end %>
            </div>
            <% hr_break = true %>
        <% end %>
        <% if hr_break %> <hr> <% end %>
        <% overview.children_by_position.active.each do |offering| %>
          <%= render partial: 'offering_child_show', locals: {offering: offering} %>
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <%= render 'prep_enroll_buttons'%>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
