<div class="panel-palette">
  <div class="precision_panel"  style="background-color: <%=overview.panel_color%>">
      <%= overview.panel_header %>
  </div>
  <div class="panel-body">
    <div class="welcome-panel">
      <% hr_break = false %>
      <div>
        <div class = "offering_header">
          <div class="row">
            <% if !overview.nil?  && !overview.brief.strip.empty? %>
              <% if pending_preps.empty? && next_webinar.nil? %>
                <div class= "col-md-12" >
                  <%= overview.brief.html_safe %>
                </div>
              <% else%>
                <div class= "col-md-10" >
                  <%= overview.brief.html_safe %>
                </div>
                <div class="col-md-2">
                  <%if !pending_preps.empty? %>
                    <%= button_to 'Course Schedule', prep_enroll_online_path(:e_type => 'prep'), class: 'button_enroll' %>
                    <br/>
                  <% end %>
                  <%if !next_webinar.nil? %>
                    <%= button_to 'Teacher Webinar', prep_enroll_online_path(:e_type => 'webinar'), class: 'button_webinar' %>
                  <% end %>
                </div>
              <% end %>
              <% hr_break = true %>
            <% end %>
          </div>
        </div>
        <% if !overview.images.not_carousels.empty? && false%>
            <% grp = 'p' %>
            <div class="about_blue_font image_list">
              <% overview.images.not_carousels.each_with_index do |image, idx| %>
                  View:&nbsp;<u><%= link_to "#{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %></u>
                  <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
              <% end %>
            </div>
            <% hr_break = true %>
        <% end %>
        <% if !overview.user_povs.empty?%>
          <div class="about_blue_font pov_list">
            <% overview.user_povs.each do |pov| %>
                Read:&nbsp;<u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
            <% end %>
          </div>
          <% hr_break = true %>
        <% end %>
        <% if !overview.active_contents.empty? %>
            <div class="image_list">
              <% overview.active_contents.each do |content| %>
                  <% if content.exist? %>
                      <% if content.type.upcase == "LINK" %>
                          View:&nbsp;&nbsp;<a href= <%= content.content_url %> target="_blank"><u><%= content.title.html_safe%></u></a>
                      <% else %>
                          View:&nbsp;&nbsp;<a href= <%= content.attached_report %> target="_blank"><u><%= content.title.html_safe%></u></a>
                      <% end %>
                      <br/>
                  <% end %>
              <% end %>
            </div>
            <% hr_break = true %>
        <% end %>
        <% if hr_break %> <hr> <% end %>
        <% overview.children_by_position.active.each do |offering| %>
            <%= render partial: 'offering_child_show', locals: {offering: offering} %>
            <%= render 'prep_enroll_buttons'%>
            <hr>
        <% end -%>
      </div>
    </div>
  </div>
</div>
