<div class="panel-body">
  <div class="research_join_list">
    <%= overview.nil? ? '' : overview.children_by_position.active.collect{|t| t.name}.join(' - ') %>
  </div>
  <div class="index-panel-size-1">
    <span class = "research_header">
        <%= overview.nil? ? '' : overview.brief.html_safe %>
    </span>
    <% unless true %>
        <!-- Can't figure out how to display an image in a modal yet -->
        <div class="about_blue_font tool_pov_list">
          <% overview.images.each do |images| %>
              <u><%= link_to 'View', image_show_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#imageModal'} %></u></br>
          <% end %>
        </div>
    <% end %>
    <% if !overview.user_povs.empty?%>
        <div class="about_blue_font tool_pov_list">
          <% overview.user_povs.each do |pov| %>
              <u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
          <% end %>
        </div>
    <% end %>
    <% overview.children_by_position.active.each do |research| %>
        <hr>
        <p class="research_descript">
          <span class="research_name"><%= research.name.html_safe %></span>&nbsp;
          <% if research.active_contents.first && research.active_contents.first.exist? %>
              <span class="research_link">
                <% if research.active_contents.first.type == "Link" %>
                    <a href= <%= research.active_contents.first.content_url %> target="_blank">(<u>View <%= research.active_contents.first.type %> </u>)</a>
                <% else %>
                    <a href= <%= research.active_contents.first.url %> target="_blank">(<u>View <%= research.active_contents.first.type %> </u>)</a>
                <% end %>
              </span>&nbsp;
          <% end %>
            <span class="research_descript">
              <%= research.brief.html_safe %>
            </span>
        </p>
    <% end -%>
  </div>
</div>
