<div class="panel-palette">
  <div class="precision_panel"  style="background-color: <%=overview.panel_color%>">
    <%= overview.panel_header %>
  </div>
  <% idx = 1 %>
  <% while idx <= users.size do %>
      <div class="row" style="width:99%">
        <div class="col-md-6" >
            <table class="table" style="width:90%">
                <tbody>
                    <tr>
                      <td class="thumbnail-med" style="width:20%">
                        <% pic_url = (users[idx-1] && users[idx-1].picture) ? ("team/" + users[idx-1].picture) : '' %>
                        <%= image_tag(pic_url) %>
                        <% if users[idx-1].emailee? %>
                            </br><span class = "team_contact" >
                            <%=mail_to(users[idx-1].email, name= "Email #{users[idx-1].first_name}")%>
                            </span>
                        <% end %>
                      </td>
                      <td style ="vertical-align:top;">
                        <span style = "font-weight:bold;"><%=users[idx-1].name_with_prefix %></span></br>
                          <% if !users[idx-1].title.empty? %>
                              <%= users[idx-1].title %></br>
                          <% end %>
                          <%= users[idx-1].user_bio ? users[idx-1].user_bio.brief : ''%>
                      </td>
                    </tr>
                    <% if !users[idx-1].user_povs.empty? %>
                    <% users[idx-1].user_povs.each do |pov|%>
                        <tr>
                          <td colspan="2" style = "border-width:0px;">
                            <%= pov.label %>&nbsp;&nbsp;<a href= <%= pov.url %> target="_blank"><u><%= pov.name.html_safe%></u></a>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
          <% if idx < users.size %>
          <table class="table" style="width:90%">
            <tbody>
                <tr>
                  <td class="thumbnail-med" style="width:20%">
                    <% pic_url = users[idx].picture ? ("team/" + users[idx].picture) : '' %>
                    <%= image_tag(pic_url)  %>
                    <% if users[idx].emailee? %>
                        </br><span class = "team_contact" >
                            <%=mail_to(users[idx].email, name= "Email #{users[idx].first_name}")%>
                            </span>
                    <% end %>
                  </td>
                  <td style ="vertical-align:top;">
                    <span style = "font-weight:bold;"><%= (users[idx].prefix.nil? || users[idx].prefix.empty?) ? '' : users[idx].prefix + ' '%> <%= users[idx].full_name  %></span></br>
                    <% if !users[idx].title.empty? %>
                        <%= users[idx].title %></br>
                    <% end %>
                    <%= users[idx].user_bio ? users[idx].user_bio.brief : ''%>
                  </td>
                </tr>
                <% if !users[idx].user_povs.empty? %>
                  <% users[idx].user_povs.active.each do |pov|%>
                    <tr>
                      <td colspan="2" style = "border-width:0px;">
                        <%= pov.label %>&nbsp;&nbsp;<a href= <%= pov.url %> target="_blank"><u><%= pov.name.html_safe%></u></a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
      <% idx += 2 %>
  <% end %>
</div>


