<div class="panel-palette">
  <div class="precision_panel"  style="background-color: <%=overview.panel_color%>">
    <%= overview.panel_header %>
  </div>
  <div class="panel-body">
    <div class="welcome-panel">
      <% hr_break = false %>
      <% if !overview.stats.empty?  && false %>
        <div class="about_blue_font stat_list">
          <u><%= link_to "View Our Statistics", "#statModal#{overview.id}", "data-toggle" => "modal" %></u>
          <%= render partial: 'session/stat_show_modal', locals: {offering: overview} %>
        </div>
        <% hr_break = true %>
      <% end %>
      <div class = "offering_header">
        <div class="row">
          <% if !overview.nil?  && !overview.brief.strip.empty? %>
            <div class= "col-md-12" >
              <%= overview.brief.html_safe %>
              <% hr_break = true %>
            </div>
          <% end %>
        </div>
      </div>
        <% if !overview.images.not_carousels.empty?%>
          <% grp = 'p' %>
          <div class="about_blue_font image_list">
            <% overview.images.not_carousels.each_with_index do |image, idx| %>
                View:&nbsp;<u><%= link_to "#{image.name}", "#imageModal#{grp}#{idx}#{image.id}", "data-toggle" => "modal" %></u>
                <%= render partial: 'session/image_show_modal', locals: {grp: grp, idx: idx, image: image} %>
            <% end %>
          </div>
          <% hr_break = true %>
        <% end %>
        <% if !overview.user_povs.empty?%>
          <div class="about_blue_font pov_list">
            <% overview.user_povs.each do |pov| %>
                Read:&nbsp;<u><a href= <%= pov.url %> target="_blank"> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small></br>
            <% end %>
          </div>
          <% hr_break = true %>
        <% end %>
        <% if hr_break %> <hr> <% end %>
      <% if !featured.nil? %>
        <div class="offering_child_box">
          <div class="row">
            <%= render partial: 'offering_child_show', locals: {offering: featured} %>
          </div>
        </div>
      <% end %>
      <% overview.children_by_position.active.each do |offering| %>
        <% if offering != featured %>
          <div class="offering_child_box">
            <div class="row">
              <%= render partial: 'offering_child_show', locals: {offering: offering} %>
            </div>
          </div>
        <% end %>
        <hr>
      <% end -%>
      </div>
  </div>
</div>
