<div id="welcome_page">
<!-- Page Content -->
    <% if !@offering.nil? %>
      <%#= render partial: 'mission', locals: {active_offering: @offering}%>
      <div class="row">
        <div class="col-md-3 welcome-panel-left">
          <% if admin_authorized? %>
            <%= render partial: 'admin_dropdowns' %>
          <% end %>
          <%= render partial: 'site_dropdowns', locals: { active_offering: @offering} %>
          <% if current_user && current_user.admin? %>
            <%= render partial: 'offering_log_list', locals: { active_offering: @offering} %>
          <% end %>
          <%= render partial: 'offering_testimonies', locals: { active_offering: @offering} %>
          <%= render partial: 'offering_stat_list', locals: { active_offering: @offering} %>
          <%= render partial: 'offering_image_list', locals: { active_offering: @offering} %>
        </div>
        <% if @offering.prep? %>
          <div class="col-md-9">
            <%= render partial: 'prep_box', locals: {overview: @offering, :featured => @offering_featured} %>
          </div>
        <% end %>
        <% if @offering.services? %>
          <div class="col-md-9">
              <%= render partial: 'offerings_box', locals: {overview: @offering, :featured => @offering_featured} %>
          </div>
        <% end %>
        <% if @offering.grant? %>
          <div class="col-md-9">
            <%= render partial: 'grant_box', locals: {overview: @offering, :featured => @offering_featured} %>
          </div>
        <% end %>
        <% if @offering.research? %>
          <div class="col-md-9">
            <%= render partial: 'research_box', locals: {overview: @offering, :featured => @offering_featured} %>
          </div>
        <% end %>
        <% if @offering.tool? %>
            <div class="col-md-9">
              <%= render partial: 'tools_box', locals: {overview: @tool_parent, :featured => @offering_featured} %>
            </div>
        <% end %>
        <% if @offering.testimonial? %>
          <div class="col-md-9">
            <%= render partial: 'testimony_box', locals: {overview: @offering, :featured => @offering_featured} %>
          </div>
        <% end %>
        <% if @offering.partner? %>
            <div class="col-md-9">
              <%= render partial: 'partner_box', locals: {overview: @offering, :featured => @offering_featured} %>
            </div>
        <% end %>
        <% if @offering.consultant? %>
          <div class="col-md-9">
            <%= render partial: 'team_box', locals: {overview: @offering, users: @users} %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>