
<!-- Page Content -->
<div class="container">
  <%= render 'mission_old' %>
  <hr>
  <%= @offering.nil? ? '****' : @offering.name %><br/>
  <% if false %>
  <div class="row" id="row_1">
    <div class="col-md-4">
      <div class="panel panel-palette_1">
        <div class="panel-heading">
          <h4 style="text-align: center;"></i><%= @grant_parent.nil? ? 'Grant Funding Assistance' : @grant_parent.name %></h4>
        </div>
        <% if !@grant_parent.nil? %>
          <%= render partial: 'grant_box_old', locals: {overview: @grant_parent} %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-palette_2">
        <div class="panel-heading">
          <h4 style="text-align: center;"><%= @offering_parent.nil? ? 'Our School Improvement Work' : @offering_parent.name %></h4>
        </div>
        <% if !@offering_parent.nil? %>
            <%= render partial: 'offerings_box_old', locals: {overview: @offering_parent} %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row" id="row_2">
    <hr>
    <div class="col-md-8">
      <div class="panel panel-palette_3">
        <div class="panel-heading">
          <h4 style="text-align: center;"><%= @research_parent.nil? ? 'Research & Standards Inform Our Work' : @research_parent.name %></h4>
        </div>
        <% if !@research_parent.nil? %>
            <%= render partial: 'research_box', locals: { overview: @research_parent} %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_5">
        <div class="panel-heading">
          <h4 style="text-align: center;"><%= @tool_parent.nil? ? 'Data Management Tools' : @tool_parent.name %></h4>
        </div>
        <% if !@tool_parent.nil? %>
            <%= render partial: 'tools_box_old', locals: {overview: @tool_parent} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="row_3">
      <hr>
      <div class="col-md-12">
        <div class="panel panel-palette_4">
          <div class="panel-heading" >
            <h4 style="text-align: center;"><%= @consultant_parent.nil? ? 'Experience Matters' : @consultant_parent.name %></h4>
          </div>
          <div class="panel-body">
            <div class="index-panel-size-3">
              <% if false %>
                <div class="team_join_list">
                  <%= @users.collect{|t| t.last_name}.join(' - ') %>
                </div>
                <span class = "team_header">
                  <%= !@consultant_parent.nil? ? @consultant_parent.description.html_safe : 'Rebuilding' %>
                </span>
              <% end %>
                <% if !@consultant_parent.nil? && !@consultant_parent.user_povs.empty?%>
                <p class="welcome_team">
                    <div class="about_blue_font welcome_pov_list">
                      Points-Of-View:&nbsp;
                      <% !@consultant_parent.user_povs.each do |pov| %>
                          <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                          <% if pov != !@consultant_parent.user_povs.last %>
                              &nbsp;&nbsp;&nbsp;
                          <% end %>
                      <% end %>
                    </div>
                </p>
              <% end -%>
                <p>
                  <u><%= link_to 'Learn More', about_team_path %></u>
                </p>
                <%= render partial: 'team_box_old', locals: {users: @users }%>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row" id="row_3">
    <hr>
    <div class="col-md-4">
      <% if !@testimonials.empty? %>
          <div id = "testimony" class="panel panel-palette_5">
            <div class="panel-heading" >
              <h4 style="text-align: center;"><i class="glyphicon glyphicon-thumbs-up"></i>Testimonials</h4>
            </div>
            <div class="panel-body index-panel-size-3">
              <%= render partial: 'testimony_box_old', locals: {testimonials: @testimonials} %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if !@partners.empty? %>
          <div class="panel panel-palette_1">
            <div class="panel-heading" >
              <h4 style="text-align: center;">Our Partners</h4>
            </div>
            <div class="panel-body index-panel-size-2">
              <%= render partial: 'partner_box_old', locals: {partners: @partners} %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <% if !@offering_parent.nil? %>
      <% link_id = @offering_parent.offering_type %>
      <div id=<%=link_id%> class="container" >
        <div class="row">
          <div class="col-md-3">
            <%= render partial: 'site_list', locals: { link_id: link_id} %>
          </div>
          <div class="col-md-9">
            <div class="panel panel-palette_2">
              <div class="panel-heading">
                <h4 style="text-align: center;"><%= @offering_parent.nil? ? 'Our School Improvement Work' : @offering_parent.name %></h4>
              </div>
              <%= render partial: 'offerings_box_old', locals: {overview: @offering_parent} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <% if !@grant_parent.nil? %>
        <% link_id = @grant_parent.offering_type %>
        <div id=<%=link_id%> class="container" >
          <div class="row">
            <div class="col-md-3">
              <%= render partial: 'site_list', locals: { link_id: link_id} %>
            </div>
            <div class="col-md-9">
              <div class="panel panel-palette_1">
                <div class="panel-heading">
                  <h4 style="text-align: center;"><%= @grant_parent.nil? ? 'Grant Assistance' : @grant_parent.name %></h4>
                </div>
                <%= render partial: 'grant_box_old', locals: {overview: @grant_parent} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if !@research_parent.nil? %>
        <% link_id = @research_parent.offering_type %>
        <div id=<%=link_id%> class="container" >
          <div class="row">
            <div class="col-md-3">
              <%= render partial: 'site_list', locals: { link_id: link_id} %>
            </div>
            <div class="col-md-9">
              <div class="panel panel-palette_3">
                <div class="panel-heading">
                  <h4 style="text-align: center;"><%= @research_parent.nil? ? 'Research' : @research_parent.name %></h4>
                </div>
                <%= render partial: 'research_box', locals: { overview: @research_parent} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
