<%= render 'layouts/main_header' %>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row mission_row">
    <div class="col-xs-7">

      <%= render 'mission_carousel' %>

    </div>
    <div class="col-xs-5">
      <div class="mission_block_2" >
        <h3 >Our Mission</h3>
        <div class="mission_panel">
          <p class="mission_statement">
            <%= current_mission ? current_mission.brief.html_safe : '' %>
          </p>
            <hr>
            <p>
              <%= current_mission ? current_mission.description.html_safe : '' %>
              <u><%= link_to 'Learn More', about_us_path %></u>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row_1">
    <hr>
    <div class="col-md-4">
      <div class="panel panel-palette_1">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-search"></i> <%= @welcomes[0] ? @welcomes[0].name.html_safe : 'Standby' %></h4>
        </div>
        <div class="panel-body index-panel-size-1">
          <%= @welcomes[0] ? @welcomes[0].description.html_safe : 'Rebuilding' %>
          <% if @welcomes[0] && !@welcomes[0].user_povs.empty?%>
              <p class="welcome_team">
                  <div class="about_blue_font welcome_pov_list">
                    Please Read:<br/>
                    <% @welcomes[0].user_povs.each do |pov| %>
                        <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                        <br/>
                    <% end %>
                  </div>
              </p>
          <% end -%>
          <!--
            <u><a href="#">Learn More</a></u>
            -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_5">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-users"></i> <%= @welcomes[1] ? @welcomes[1].name.html_safe : 'Standby' %></h4>
        </div>
        <div class="panel-body index-panel-size-1">
          <%= @welcomes[1] ? @welcomes[1].description.html_safe : 'Rebuilding' %>
          <% if @welcomes[1] && !@welcomes[1].user_povs.empty?%>
              <p class="welcome_team">
                  <div class="about_blue_font welcome_pov_list">
                    Please Read:<br/>
                    <% @welcomes[1].user_povs.each do |pov| %>
                        <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                        <br/>
                    <% end %>
                  </div>
              </p>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_2">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-cog fa-1x fa-spin"></i> <%= @welcomes[2] ? @welcomes[2].name.html_safe : 'Standby' %></h4>
        </div>
        <div class="panel-body index-panel-size-1">
          <%= @welcomes[2] ? @welcomes[2].description.html_safe : 'Rebuilding' %>
          <% if @welcomes[2] && !@welcomes[2].user_povs.empty?%>
              <p class="welcome_team">
                  <div class="about_blue_font welcome_pov_list">
                    Please Read:<br/>
                    <% @welcomes[2].user_povs.each do |pov| %>
                        <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                        <br/>
                    <% end %>
                  </div>
              </p>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row" id="row_2">
    <hr>
    <div class="col-md-8">
      <div class="panel panel-palette_3">
        <div class="panel-heading">
          <h4 style="text-align: center;">Research Informs Our Work</h4>
        </div>
        <div class="panel-body index-panel-size-1">
          <%= render partial: 'research_box', locals: { researches: @researches} %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_4">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-search"></i> Grant Assistance</h4>
        </div>
        <div class="panel-body index-panel-size-1">
           <%= render partial: 'grant_box', locals: { grants: @grants} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row_3">
      <hr>
      <div class="col-md-4">
        <div class="panel panel-palette_2">
          <div class="panel-heading" >
            <h4 style="text-align: center;"><i class="fa fa-wrench"></i> <%= @welcomes[3] ? @welcomes[3].name.html_safe : 'Standby' %></h4>
          </div>
          <div class="panel-body index-panel-size-2">
            <%= @welcomes[3] ? @welcomes[3].description.html_safe : 'Rebuilding' %>
            <% if @welcomes[3] && !@welcomes[3].user_povs.empty?%>
                <p class="welcome_team">
                    <div class="about_blue_font welcome_pov_list">
                      Please Read:<br/>
                      <% @welcomes[3].user_povs.each do |pov| %>
                          <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                          <br/>
                      <% end %>
                    </div>
                </p>
            <% end -%>
            <!--
            <u><a href="#">Learn More</a></u>
            -->
          </div>
        </div>
        <% if !@testimonials.empty? %>
            <div id = "testimony" class="panel panel-palette_4">
              <div class="panel-heading" >
                <h4 style="text-align: center;"><i class="glyphicon glyphicon-thumbs-up"></i>Testimonials</h4>
              </div>
              <div class="panel-body index-panel-size-3">
                  <%= render partial: 'testimony_box', locals: { testimonials: @testimonials} %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="panel panel-palette_5">
          <div class="panel-heading" >
            <h4 style="text-align: center;"><%= @welcomes[4] ? @welcomes[4].name.html_safe : 'Standby' %></h4>
          </div>
          <div class="panel-body index-panel-size-3">
            <%= @welcomes[4] ? @welcomes[4].description.html_safe : 'Rebuilding' %>
              <% if @welcomes[4] && !@welcomes[4].user_povs.empty?%>
                <p class="welcome_team">
                    <div class="about_blue_font welcome_pov_list">
                      Team Points-Of-View:<br/>
                      <% @welcomes[4].user_povs.each do |pov| %>
                          <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                          <% if pov != @welcomes[4].user_povs.last %>
                              &nbsp;&nbsp;&nbsp;
                          <% end %>
                      <% end %>
                    </div>
                </p>
            <% end -%>
            <p>
              <u><%= link_to 'Learn More', about_team_path %></u>
            </p>
            <%= render partial: 'team_box', locals: {users: @users }%>
            </div>
            </div>
            <% if !@partners.empty? %>
                <div class="panel panel-palette_1">
                  <div class="panel-heading" >
                    <h4 style="text-align: center;">Partners</h4>
                  </div>
                  <div class="panel-body index-panel-size-2">
                      <%= render partial: 'partner_box', locals: { partners: @partners} %>
                  </div>
                </div>
            <% end %>
        </div>
  </div>
</div>
