<%= render 'layouts/main_header' %>
<!-- Page Content -->
<div class="container">

  <%= render 'mission' %>
  <% if !@marque.empty? %>
    <div class="row">
      <table class="marque_row">
        <tbody>
          <tr>
            <td class='marque_label'>
              Just In:&nbsp;
            </td>
            <td class='marque_text'>
              <marquee behavior="scroll" direction="left" ><%= @marque %></marquee>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="row" id="row_1">
    <hr>
    <div class="col-md-4">
      <div class="panel panel-palette_1">
        <div class="panel-heading">
          <h4 style="text-align: center;"></i><%= @grant_parent.nil? ? 'Grant Funding Assistance' : @grant_parent.name %></h4>
        </div>
        <% if !@grant_parent.nil? %>
            <%= render partial: 'grant_box', locals: { overview: @grant_parent} %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-palette_2">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-cog fa-1x fa-spin"></i> <%= @offering_parent.nil? ? 'Our School Improvement Work' : @offering_parent.name %></h4>
        </div>
        <% if !@offering_parent.nil? %>
            <%= render partial: 'offerings_box', locals: { overview: @offering_parent} %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row" id="row_2">
    <hr>
    <div class="col-md-8">
      <div class="panel panel-palette_3">
        <div class="panel-heading">
          <h4 style="text-align: center;"><%= @research_parent.nil? ? 'Research & Standards Inform Our Work' : @research_parent.name %></h4>
        </div>
        <% if !@research_parent.nil? %>
            <%= render partial: 'research_box', locals: { overview: @research_parent} %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_5">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-wrench"></i> <%= @tool_parent.nil? ? 'Integrated Toolkit' : @tool_parent.name %></h4>
        </div>
        <% if !@tool_parent.nil? %>
            <%= render partial: 'tools_box', locals: { overview: @tool_parent} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="row_3">
      <hr>
      <div class="col-md-12">
        <div class="panel panel-palette_4">
          <div class="panel-heading" >
            <h4 style="text-align: center;"><%= @consultant_parent.nil? ? 'Experience Matters' : @consultant_parent.name %></h4>
          </div>
          <div class="panel-body">
            <div class="team_join_list">
              <%= @users.collect{|t| t.last_name}.join(' - ') %>
            </div>
            <div class="index-panel-size-3">
              <span class = "team_header">
                <%= !@consultant_parent.nil? ? @consultant_parent.description.html_safe : 'Rebuilding' %>
              </span>
                <% if !@consultant_parent.nil? && !@consultant_parent.user_povs.empty?%>
                <p class="welcome_team">
                    <div class="about_blue_font welcome_pov_list">
                      Points-Of-View:&nbsp;
                      <% !@consultant_parent.user_povs.each do |pov| %>
                          <u><a href= <%= pov.url %>> <%= pov.name %> </a></u><small><%= pov.user ? (' (' + pov.user.last_name + ')') : '' %></small>
                          <% if pov != !@consultant_parent.user_povs.last %>
                              &nbsp;&nbsp;&nbsp;
                          <% end %>
                      <% end %>
                    </div>
                </p>
              <% end -%>
                <p>
                  <u><%= link_to 'Learn More', about_team_path %></u>
                </p>
                <%= render partial: 'team_box', locals: {users: @users }%>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row" id="row_3">
    <hr>
    <div class="col-md-4">
      <% if !@testimonials.empty? %>
          <div id = "testimony" class="panel panel-palette_5">
            <div class="panel-heading" >
              <h4 style="text-align: center;"><i class="glyphicon glyphicon-thumbs-up"></i>Testimonials</h4>
            </div>
            <div class="panel-body index-panel-size-3">
              <%= render partial: 'testimony_box', locals: { testimonials: @testimonials} %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if !@partners.empty? %>
          <div class="panel panel-palette_1">
            <div class="panel-heading" >
              <h4 style="text-align: center;">Our Partners</h4>
            </div>
            <div class="panel-body index-panel-size-2">
              <%= render partial: 'partner_box', locals: { partners: @partners} %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
