<%= render 'layouts/main_header' %>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row" style="padding-bottom:2em;">
    <div class="col-xs-5">
        <div class="main_block_1"></div>
    </div>
    <div class="col-xs-7">
      <div class="main_block_2" >
        <h3 >Our Mission</h3>
        <div style="text-align:left; width:90%;">
          <p style="line-height:1.8em">
            To Help Educators Continuously Improve How Their Schools Work.
          </p>
        </div>
        <h4 style="margin-top:1.2em;">Our Approach</h4>
        <p style="line-height:1.8em"> We help schools increase academic achievement.  We do this by, first, anchoring our methods to educational research and quality principles.
          Second, we apply these to the particular circumstances facing every school.
          Our team is composed of former Colorado principals, authors, researchers, and instructional
          leaders whose focus is on the "how" of school improvement.
          &nbsp;&nbsp;<u><%= link_to 'Learn More', about_us_path %></u>
        </p>
      </div>
    </div>
  </div>
  <div class="row" >
      <h4 class="welcome-header" style="text-align: center;">Continuous Improvement Begins With A Precise Understanding Of The As-Is
      </h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-palette_1">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-search"></i> Diagnostic Review</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>
            <em>Precision's</em> experienced advisers measure school performance relative to established standards,
            such as <em>Colorado's Standards and Indicators for Continuous School Improvement</em>.
            Our methodology ensures this is done with precision and consistency.
            Our tools organize all diagnostic findings and supporting evidence,
            and programatically relate them to the relevant indicators comprising the standards.
          </p>
          <p>
            All diagnostic data are kept on-line as a baseline from which every school can monitor its progress and understand its performance relative to the population as a whole.
          </p>
          <!--
            <u><a href="#">Learn More</a></u>
            -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_5">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-users"></i> Improvement Planning</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>
            <em>Precision's</em> planning methodology involves an experienced education leader working with
            the school's leadership team. Diagnostic findings are reviewed and weighed: they are understood in relation to one another and in context of
            each school's particular circumstances.
            The resulting <em>Action Plan</em> illuminates up to three achievable goals, which are owned by the school's leadership team.
            These goals do not represent a finish line: they are steps which, when successfully taken, will point to the next steps of the school's evolvng performance improvement plan.
          </p>
          <p>
            <em>Precision</em> connects schools in our network that have similar goals.
          </p>
            <!--
                <u><a href="#">Learn More</a></u>
            -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_2">
        <div class="panel-heading">
          <h4 style="text-align: center;"><i class="fa fa-cog fa-1x fa-spin"></i> Performance Monitoring</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>We shepherd the schools in our community toward their goals. We are able to do this efficiently
            because of the credibility <em>Precision's</em> local advisers earn with school leaders,
            and because our tools allow us to monitor, in confidence and without intrusion, how our schools are progressing.
          </p>
          <p>Periodic diagnostic checkpoints produce objective indicators of progress for each school and that of the community as a whole. This, in turn,
            helps our research partners better understand what our schools need from them.
          </p>
          <!--
          <u><a href="#">Learn More</a></u>
          -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-palette_3">
          <div class="panel-heading" >
            <h4 style="text-align: center;"><i class="fa fa-wrench"></i> Integrated Toolkit</h4>
          </div>
          <div class="panel-body" style="line-height:2.0em">
            <p>
              Billions of education dollars are wasted every year on technologies that cling to "good ideas" rather than precise performance improvement plans.
            </p>
            <p>
              Our enabling tools operate from a powerful online platform called <span style="font-weight:bold; color:#0000a4"><em>Escent</em></span>, which properly aligns a school's use of technology with its improvement priorities
              and fosters data-based collaboration among schools facing similar circumstances and pursuing similar goals.
            </p>
            <p>
              This is why our integrated toolkit and our technology credentials are key to <em>Precision's</em> approach.
            </p>
            <!--
            <u><a href="#">Learn More</a></u>
            -->
          </div>
        </div>
        <div class="panel panel-palette_2">
          <div class="panel-heading" >
            <h4 style="text-align: center;">Partners</h4>
          </div>
          <div class="panel-body">
            <p>
             <!--
             <u><a href="#" >View Testimonials</a></u>
             -->
            </p>
            <p>
              <%= render 'logo_box'%>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-palette_4">
          <div class="panel-heading" >
            <h4 style="text-align: center;">Experience Matters</h4>
          </div>
          <div class="panel-body welcome_team">
            <p>
              The <em>Precision</em> team is an exclusive network of credentialed educators who understand that,
              by working collectively with common tools and methods, they can more effectively help every school move to higher levels of performance.
            </p>
            <p class="about_blue_font welcome_team">
              <% if !@pov_users.empty?%>
                <div class="about_blue_font">
                  Some Points-of-View<br/>
                  <% @pov_users.each do |user| %>
                      <%= user.last_name %>&nbsp;=>
                      <% user.user_povs.each do |pov| %>
                          &nbsp;&nbsp;<u><a href= <%= pov.url %>> <%= pov.name %> </a></u>
                      <% end %>
                      <br/>
                  <% end %>
                </div>
            <% end -%>
            </p>
            <p>
                  <u><%= link_to 'Learn More', about_team_path %></u>
                </p>
            <%= render partial: 'team_box', locals: {users: @users }%>
            </div>
            </div>
        </div>
      </div>
    </div>
</div>
