<%= render 'layouts/main_header' %>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row" style="padding-bottom:2em;">
    <div class="col-xs-5">
        <div class="main_block_1"></div>
    </div>
    <div class="col-xs-7">
      <div class="main_block_2" >
        <h3 >Our Mission</h3>
        <div style="text-align:left; width:90%;">
          <p style="line-height:1.8em">
            To institutionalize authentic performance improvement disciplines in our schools for the benefit of every child.
          </p>
        </div>
        <h4 style="margin-top:1.2em;">Our Approach</h4>
        <p style="line-height:1.8em"> We are a network of seasoned educators. We collaborate with education's thought leaders
            and work with schools to apply research-based methods to their local circumstances.&nbsp;
            We build "community" among our schools who, using common methods and integrated tools,
            help each other move up the path of continuous performance improvement.&nbsp;&nbsp;<u><%= link_to 'Learn More', about_us_path %></u>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-palette_1">
        <div class="panel-heading">
          <h4><i class="fa fa-search"></i> Diagnostic Review</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>
            <em>Precision's</em> seasoned advisers measure school performance relative to any research-based framework,
            such as <em>Colorado's Standards and Indicators for Continuous School Improvement</em>.
            Our methodology ensures this is done with precision and consistency.
            Our tools organize all diagnostic findings and supporting evidences,
            and automatically relates them to the relevant strands/indicators of the standards.
          </p>
          <p>
            All diagnostic data are kept on-line as a baseline from which schools can analyze their future progress against established standards.
          </p>
          <u><a href="#" >Learn More</a></u>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_2">
        <div class="panel-heading">
          <h4><i class="fa fa-users"></i> Improvement Planning</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>
            <em>Precision's</em> planning methodology involves a credentialed adviser collaborating with
            the school's leadership team. Diagnostic findings are reviewed and weighed: they are understood in relation to one another and in context of
            each school's particular circumstances.
            The resulting <em>Action Plan</em> illuminates up to three achievable goals, which are owned by the school's leadership team.
            These goals do not represent a finish line: they are steps which, when successfully taken, will point to the next steps of the school's ongoing performance improvement process.
          </p>
          <p>
            <em>Precision</em> connects schools having achieved, or are striving to achieve, similar goals.
          </p>
          <u><a href="#" >Learn More</a></u>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-palette_3">
        <div class="panel-heading">
          <h4><i class="fa fa-cog fa-1x fa-spin"></i> Progress Monitoring</h4>
        </div>
        <div class="panel-body" style="line-height:2.0em">
          <p>We shepherd the schools of our community toward their goals. We are able to do this efficiently
            because of the credibility <em>Precision's</em> local advisers earn with school leaders;
            and because <em>Precision's</em> infrastructure enables our team to observe, in confidence and without intrusion, how our schools are progressing.
          </p>
          <p>Periodic diagnostic checkpoints produce objective indicators of progress for each school and that of the community as a whole. This, in turn,
            helps our research partners better understand what our schools need from them.
          </p>
          <u><a href="#">Learn More</a></u>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-palette_5">
          <div class="panel-heading">
            <h4><i class="fa fa-wrench"></i> Integrated Toolkit</h4>
          </div>
          <div class="panel-body" style="line-height:2.0em">
            <p>
              Billions of education dollars are wasted every year on technologies that cling to "good ideas" rather than authentic quality management principles.
            </p>
            <p>
              Mis-alignment between IT spending and what each school uniquely needs to fundamentally improve its performance is a serious root problem. This is why our integrated toolkit and our technology credentials are keys to <em>Precision's</em> approach.
            </p>
            <p>
              Our enabling tools, operate from a powerful online platform called <span style="font-weight:bold; color:#0000a4">Escent</span>, which conforms school processes to quality tenets and fosters data-based collaboration among <em>Precision</em> schools.
            </p>
            <u><a href="#">Learn More</a></u>
          </div>
        </div>
        <div class="panel panel-palette_3">
          <div class="panel-heading">
            <h4>Partners</h4>
          </div>
          <div class="panel-body">
            <p>
              <u><a href="#" >View Testimonials</a></u>
            </p>
            <p>
              <%= render 'logo_box'%>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-palette_1">
          <div class="panel-heading">
            <h4> Experience Matters</h4>
          </div>
          <div class="panel-body" style="line-height:2.0em">
            <p>
              The <em>Precision</em> team is an exclusive network of credentialed educators who understand that,
              by working collectively with common tools and methods, they can more effectively help every school move to higher levels of performance.
            </p>
                <p>
                  <u><%= link_to 'Learn More', about_us_path %></u>
                </p>
            <%= render partial: 'team_box', locals: {users: @users }%>
            </div>
            </div>
        </div>
      </div>
    </div>
</div>
