<div class="page-header">
  <%= link_to user_bios_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_bio_path(@user_bio), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user_bio</h1>
</div>

<dl class="dl-horizontal">
  <dt>Education:</dt>
  <dd><%= @user_bio.education %></dd>

  <dt>History:</dt>
  <dd><%= @user_bio.history %></dd>

  <dt>User:</dt>
  <dd><%= @user_bio.user %></dd>

</dl>
