
  <div class = "container admin_container">
    <div class="row admin_title">
        Precision <%=@e_type.nil? ? '':(@e_type.titleize + ' ')%>Enrollment
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Precision Prep Page', root_path(:id => Offering.prep_parent.id), class: 'enroll_return' %>
      </div>
      <div class="col-md-7">
      </div>
      <div class="col-md-2"></div>
    </div>
        <div class="row">
        <div class="col-md-2"></div>
          <div class=" col-md-8 image_panel">
            <div class="panel panel-palette_2">
              <div class="panel-heading admin_panel" style="background:<%=@prep.panel_color%>">
                <%= pluralize(@pending_events.size, (@e_type.nil? ? '':@e_type.titleize) + ' Offering')%>
              </div>
              <div class="panel-body, table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <tbody class="reservation">
                  <%= content_tag_for(:tr, @pending_events) do |event| %>
                      <td class="venue">
                        <%= event.start_date.strftime('%b %d, %Y')%></br>
                        <%= event.venue.name %>
                      </td>
                      <td class="event">
                        <span class="event_name"> <%=event.name %></span></br>
                        <%= !event.start_date.nil? ? event.start_date.strftime("%m/%d/%Y") : ''%>&nbsp;-&nbsp;
                        <%= !event.end_date.nil? ? event.end_date.strftime("%m/%d/%Y") : ''%><br/>
                        <%= event.time%>
                        <% if @padmin %>
                          <hr>
                          <span class="padmin">
                            <%= pluralize(event.reservations.pendings.size, ' Pending')%>,&nbsp;
                            <%= pluralize(event.reservations.valids.size, ' Valid')%>,&nbsp;
                            <%= pluralize(event.reservations.confirms.size, ' Confirm')%>
                            <%= render partial: 'edit_list', locals: {:event=> event} %>
                          </span>
                        <% end %>
                      </td>
                      <% if event.price > 0 %>
                        <td>
                          <%= humanized_money_with_symbol(event.price) %>
                        </td>
                      <% end %>
                      <td>
                        <% if event.open?%>
                            <%= button_to 'Enroll', prep_enroll_path(:event_id=>event.id), class: 'button_green' %>
                        <% else %>
                          <span class="closed">
                            Closed
                          </span>
                        <% end %>
                      </td>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
  </div>

