<div class="container">
    <div style="line-height:2.0em">
      <% users.each do |user| %>
          <div class="row team_row">
            <div class="col-md-2 thumbnail-large">
                <% pic_url = !user.picture.empty? ? ("people/" + user.picture) : '' %>
                <%= image_tag(pic_url) %>
            </div>
            <div class="col-md-8">
                <h2 class="about_blue_font">
                  <%= (user.prefix.nil? || user.prefix.empty?) ? '' : user.prefix + ' '%><%=user.full_name%>
                      <% if user.title != '' %>
                          &nbsp;<small><%=user.title %></small>
                      <% end %>
                </h2>
                 <% if user.user_bio && !user.user_bio.passion.empty? %>
                      <h4 class="about_blue_font team_passion">
                        <%= user.user_bio.passion %>
                      </h4>
                  <% end -%>
                  <% if user.user_bio && !user.user_bio.education.empty? %>
                      <h6 class="about_blue_font team_education">
                        <%= user.user_bio.education %>
                      </h6>
                  <% end -%>
                <p class="about_gray_font">
                  <%= user.user_bio ? user.user_bio.history : '' %>
                </p>
            </div>
          </div>
      <% end %>
    </div>
</div>

