<%= form_for [:admin, @user], html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prevented this account from being created:</h4>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row form_row">
      <%= f.label :prefix, "Prefix",class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :prefix, class: "form-control" %>
      </div>
    </div>
  <div class="row form_row">
    <%= f.label :first_name, "First Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="row form_row">
    <%= f.label :last_name, "Last Name",class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
    <div class="row form_row">
      <%= f.label :display_position, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :display_position, class: "form-control" %>
      </div>
    </div>
    <div class="row form_row">
      <%= f.label :title, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="row form_row">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
    <div class="row form_row">
      <%= f.label :picture, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
     <!--   <%#= f.file_field :picture, class: "form-control" %>  -->
        <!--  Couldn't see how upload works, so I'm just explicitely identifying file name. -->
        <%= f.text_field :picture, class: "form-control" %>
      </div>
    </div>
  <div class="row form_row">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="row form_row">
    <%= f.label :password_confirmation, 'Password Confirmation', class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
    <div class="row form_row">
      <%= f.label :user_class_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.collection_select :user_class_id, UserClass.order(:name), :id, :name, prompt: 'Select User Class' %>
      </div>
    </div>
    <div class="row form_row">
      <%= f.label :contactee, 'Receives Contact-Us', class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <!-- <%#= f.radio_button :is_contactee, @user.contactee?, :checked => true %> -->
        <%= f.select :contactee, [['Yes', 'Yes'], ['No', 'No']] %>
      </div>
    </div>
    <div class="row form_row">
      <%= f.label :is_emailee, 'Can Be Emailed Directly', class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.radio_button(:is_emailee, true) %>
        <%= f.label(:emails_yes, 'Yes') %>
        <%= f.radio_button(:is_emailee, false) %>
        <%= f.label(:emails_no, 'No') %>
      </div>
    </div>
    <div class="row form_row">
      <%= f.label :is_active, 'Is Active', class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.radio_button(:is_active, true) %>
        <%= f.label(:active_yes, 'Yes') %>
        <%= f.radio_button(:is_active, false) %>
        <%= f.label(:active_no, 'No') %>
      </div>
    </div>
  <div class="row form_row">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
