<h4><%= @name %>,&nbsp;Thank You For Enrolling In <em>Precision Prep</em></h4>

Location: <%=@enrollment.event.venue.name%>

<%= !@enrollment.event.start_date.nil? ? @enrollment.event.start_date.strftime('%b %d, %Y') : '-'%> - <%= !@enrollment.event.end_date.nil? ? @enrollment.event.end_date.strftime('%b %d, %Y') : '-'%></h5>


Your reservation is currently <%=@enrollment.status.upcase %>
The course fee is <%= humanized_money_with_symbol(@enrollment.event.price) %>

We will be following up with you shortly to confirm your attendance.


Thanks Again!
The Precision Prep Team
