<h3><%= t('site_name') %>&nbsp;Payment Problem</h3>

<h4>A Successful Payment Was Made But Payment Record Was Lost</h4>

<h5>Name:&nbsp;<%=@name%></h5>

<h5>Email:&nbsp;<%=@email%></h5>

<h5>Phone:&nbsp;<%=@phone%></h5>

<h5>Enrollment #: <%= @enrollment %></h5>

<h5>Fee: <%= @amount %></h5>