<div class="'container">
<%= form_tag contact_us_path  do  %>

    <div class="row">
      <div class="col-md-8 ">
            Your Message
          <div class="panel-body">
            <%= text_area_tag 'message', nil, size: "65x6" %>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
            Your Workplace
          <div class="panel-body">
            <%= text_field_tag 'workplace', nil, size: 50 %>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
            Your Email Address
          <div class="panel-body">
            <%= text_field_tag 'email', '', size: 50 %>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-8 ">
         <%= submit_tag 'Send Message' %>
        </div>
    </div>

<% end -%>
</div>
